:root {
  --color-font-1: #d1d1d1;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-font-1);
}

h1 {
  font-size: calc(2.3rem + 2.7vw);
  font-weight: 600;
  line-height: 1.2;
}

h3 {
}

.jimi-hendrix-main {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.jimi-hendrix-main-pic {
  grid-column: 1/-1;
  grid-row: 1/-1;
  background-image: linear-gradient(rgb(255, 139, 159), rgb(52, 52, 245));
}

.jimi-hendrix-main-img {
  background-image: url('/img/img-left.jpg');
  background-size: cover;
  background-position: 25% 25%;
  opacity: 0.2;
  height: 100vh;
}

.jimi-hendrix-name-1,
.jimi-hendrix-name-2 {
  color: white;
  z-index: 100;
  font-size: 15vh;
  /* line-height: 130px; */
  text-transform: uppercase;
  padding-left: 4rem;
  font-weight: 600;
  overflow: hidden;
}

.jimi-hendrix-name-1 {
  grid-row: 1/4;
  grid-column: 1/7;
}

.jimi-hendrix-name-2 {
  grid-row: 2/4;
  grid-column: 1/7;
  /* margin: -4rem; */
}

.jimi-hendrix-quote {
  font-size: 3vh;
  /* background-color: white; */
  /* grid-row: 3/6; */
  /* grid-column: 1/7; */
}

.jimi-hendrix-quote {
  margin-top: 4rem;
  font-size: 4rem;
  grid-row: 3/6;
  grid-column: 1/6;
  padding-left: 4rem;
  overflow: hidden;
  line-height: 60px;
}
.jimi-hendrix-rip {
}
.jimi-hendrix-age {
  z-index: 100;
  grid-column: 1/-1;
  grid-row: 1/-1;
  background-image: url('/img/2052150.svg');
  /* background-color: chartreuse; */
  background-repeat: no-repeat;
  background-size: 40% 70%;
  /* margin-bottom: -5rem; */
  /* padding-bottom: 5rem; */
  /* background-attachment: fixed; */
  background-position: 50% 115%;
  /* background-size: cover; */
  opacity: 0.5;
}

.jimi-hendrix-right-pic {
  z-index: 10;
  grid-column: 7/12;
  grid-row: 2/-1;

  /* background-image: linear-gradient(to bottom right, rgb(250, 137, 156), white); */

  background-image: url('/img/img-right.jpg');
  background-size: cover;
  /* opacity: 0.5; */

  background-position: top;
  border-top-right-radius: 5rem;
  border-top-left-radius: 5rem;
  /* overflow: hidden; */
}

@media screen and (min-width: 768px) {
}
